<div class="row vertical-align"> <!----  Additional class -->
  <div class="col-xs-3">
    <img src="<%= tweet.user.profile_image_url%>" height="100" width="100"/>
  </div>
  <div class="col-xs-6">
    <span ><%= tweet.text %></span>
  </div>
  <div class="col-xs-3">
    <span ><%= tweet.created_at %></span>
  </div>
</div>
<br>